{% extends 'main.html' %}

{% block register %}
    <div>
        <form style="width:600px" action="/auth/register/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ profile_form.as_p }}
                <input type="submit" class="button" value="Зарегистрироваться">
        </form>
    </div>
{% endblock %}