<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django tests</title>
</head>
<body>
<div>
    <section>
        <ul>
            {% if user.username %}
                <li><a href="/auth/logout/">Выйти({{ user.username }})</a></li>
                <li><a href="/profile/{{ user.username }}/detail/">Профиль</a></li>
            {% else %}
                <li><a href="/auth/login/">Войти </a></li>
            {% endif %}
        </ul>
    </section>
</div>
    <p2><h1><a href="/"> CоцСеть </a></h1></p>
        <div>
            {% block first %}{% endblock %}
            {% block login %}{% endblock %}
            {% block register %}{% endblock %}
            {% block detail %}{% endblock %}
        </div>
</body>
</html>